@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Forum&family=Koulen&family=Montserrat:wght@100;300;400;700&family=Parisienne&family=Questrial&family=Quicksand&family=Roboto+Mono:wght@200;400&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* Paleta de color primario */
  --clr-primario-1: #f08080;
  --clr-primario-2: #fa8072;
  --clr-primario-3: #f5b7b1;
  --clr-primario-4: #f1948a;
  --clr-primario-5: #ec7063;
  --clr-primario-6: #e74c3c;
  --clr-primario-7: #cb4335;
  --clr-primario-8: #b03a2e;
  --clr-primario-9: #943126;
  --clr-primario-10: #78281f;

  --clr-grey-1: hsl(209, 61%, 16%);
  /* Color del body */
  --clr-body-1: hsl(0, 0%, 97%);
  --clr-body-2: hsl(212, 33%, 89%);
  --clr-body-3: hsl(210, 36%, 96%);
  /* Estilos de sombras */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Atributos */
  --transition-1: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
}

/*
=============== 
Global Styles
===============
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  /* background: var(--clr-body-1); */
  /* color: var(--clr-grey-1); */
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1rem;
}

/*
=============== 
Navbar
===============
*/

nav {
  box-shadow: var(--dark-shadow);
}

.logo {
  height: 120px;
  width: 120px;
  opacity: 0.9;
  border-radius: 50%;
}

.links li a {
  color: black !important;
  font-size: 1.9rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--clr-primario-2) !important;
}

/*
=============== 
Carrito Nav-bar
===============
*/

#boton-carrito {
  border: none;
  color: var(--clr-primario-2);
  font-size: 3rem;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all 0.3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: var(--clr-primario-2);
}

#boton-carrito:focus {
  outline: none;
}

.prod-en-carrito {
  transition: all 0.3s ease-in-out;
}
.prod-en-carrito:hover {
  background-color: rgb(79, 225, 79);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 1.5rem;
}

.boton-eliminar:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.boton-eliminar:focus {
  outline: none;
}

/*
=============== 
Hero Section
===============
*/

.hero {
  min-height: 100vh;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  background-image: url(../img/retro-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-div-text {
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}

.hero-div-text h2 {
  color: whitesmoke;
  font-size: 4rem;
  text-shadow: 4px 4px 5px var(--clr-primario-1);
}

.hero-div-text p {
  font-size: 2rem;
}

.h-img {
  width: 600px;
  /* padding: 1rem; */
  animation: float 3s linear infinite;
  height: 550px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.btn-neon,
.btn-neon:hover {
  font-size: 1.5rem;
  width: 150px;
  height: 50px;
  position: relative;
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: 1px solid red;
  margin: 10px;
  box-shadow: 1px 1px 20px 8px red;
}

.btn-neon {
  background-color: transparent;
  box-shadow: none;
}

.btn-neon:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  box-shadow: 0px 0px 70px 10px red;
}

/*
=============== 
Nuestro Menu Section
===============
*/

.title h2 {
  font-size: 4rem;
  color: var(--clr-primario-6);
  font-weight: 700;
  /* border: 3px solid var(--clr-primario-6); */
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 50px;
  /* box-shadow: 1px 1px 20px 8px var(--clr-primario-6); */
  transition: all 1s;
}

/* .title h2:hover {
  background-color: var(--clr-primario-2);
  color: whitesmoke;
} */

/*
=============== 
Sección Botones
===============
*/

.btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: 1.5rem;
}

.filter-btn {
  width: 10rem;
  height: 2rem;
  border: 2px var(--clr-primario-6) solid;
  border-radius: 15px;
  color: var(--clr-primario-6);
  font-weight: 900;
  font-size: 1.1em;
  box-shadow: 13px 26px 27px 1px rgba(0, 0, 0, 0.48);
  cursor: pointer;
  transition: all 0.4s linear;
  background-color: transparent;
}

.filter-btn:hover {
  color: whitesmoke;
  background-color: var(--clr-primario-2);
}

/*
=============== 
Conteiner del menu
===============
*/

.box-container {
  border: none;
}

/*
=============== 
Cards del menu
===============
*/

.foto {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.description {
  height: 20px;
  overflow: hidden;
  transition: height 0.3s ease-in 0.3s;
}

.description:hover {
  height: 80px;
}

/*
=============== 
Botones cards menu
===============
*/

.btn-compra {
  display: inline-block;
  padding: 0.3rem 1rem;
  border: 0.2rem solid var(--clr-primario-6);
  color: var(--clr-primario-7);
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn-compra::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--clr-primario-2);
  transition: 0.3s linear;
  z-index: -1;
}

.btn-compra:hover::before {
  width: 100%;
  left: 0;
}

.btn-compra:hover {
  color: #fff;
}

/*
=============== 
Panels
===============
*/

.panels {
  margin-top: 2rem;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 1rem;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1526361547623-9dd08c979bb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1541701851966-739c62ec28a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1579236546973-39f510ef2a37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1508801176750-a71beee9862a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}
.panel5 {
  background-image: url(https://images.unsplash.com/photo-1517407256858-972c0f3ebef2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80);
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size: 40px;
  flex: 5;
}

/*
=============== 
Nuestras Especialidades
===============
*/

.daily-menu {
  padding: 1rem;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.d-title {
  text-align: center;
  margin: 2rem;
}

.d-title h2 {
  font-size: 4rem;
  color: var(--clr-primario-6);
}

.menu-conteiner {
  background-color: whitesmoke;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 7px 6px 25px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 80%;
}

.img-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#plato-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
  position: relative;
}

.menu-conteiner h2 {
  font-size: 2.4rem;
  color: var(--clr-primario-4);
}

.menu-conteiner p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

#precio,
.button-container {
  margin-top: 1rem;
}

#precio span {
  font-weight: bold;
}

.prev-btn,
.next-btn {
  color: var(--clr-primario-9);
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primario-8);
}

/*
=============== 
Slider Section
===============
*/

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.home {
  padding: 0;
  background-color: black;
  margin: 1rem 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.home .slide .content {
  text-align: center;
  width: 70rem;
  display: none;
}

.home .slide .content h3 {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  color: white;
  text-shadow: 5px 3px 6px rgb(48, 42, 42);
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.home .slide .content h2 {
  color: whitesmoke;
  text-shadow: 5px 3px 6px black;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 2rem 0;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: white;
  color: black;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: burlywood;
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.d-1 {
  background-image: url(../img/retro-5.jpg);
}
.d-2 {
  background-image: url(../img/retro-7.jpg);
}
.d-3 {
  background-image: url(../img/retro-44.jpg);
}

/*
=============== 
Form
===============
*/

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "text text"
    "img form";
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.f-image {
  width: 55vh;
  height: 55vh;
  object-fit: cover;
  grid-area: img;
  margin: 0 auto;
}

.f-text {
  grid-area: text;
  margin: auto;
  color: var(--clr-primario-6);
  font-size: 2.7rem;
  font-weight: 400;
}

.f-content {
  grid-area: form;
}

/*
=============== 
Footer
===============
*/

.footer {
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-primario-2);
}
.derechos p {
  font-size: 1.5em;
}

.iconos {
  display: flex;
  gap: 30px;
}
.iconos i {
  font-size: 35px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 10000;
}

/*
=============== 
Loader container
===============
*/

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-image: url(../img/giphy.gif);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}
